


body {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    padding: 10px;
	
}

h1{
    display:inline;
	 float: left;
    font-size: 1em;
	
    font-weight: bold;
    line-height: 1em;
	 color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 127);
    font-family: helvetica;
	 padding: 10px;
	
}